:root {
    color-scheme: light dark;

    --color-slate-50: oklch(0.984 0.003 247.858);  
    --color-slate-100: oklch(0.968 0.007 247.896);  
    --color-slate-200: oklch(0.929 0.013 255.508);  
    --color-slate-300: oklch(0.869 0.022 252.894);  
    --color-slate-400: oklch(0.704 0.04 256.788);  
    --color-slate-500: oklch(0.554 0.046 257.417);  
    --color-slate-600: oklch(0.446 0.043 257.281);  
    --color-slate-700: oklch(0.372 0.044 257.287);  
    --color-slate-800: oklch(0.279 0.041 260.031);  
    --color-slate-900: oklch(0.208 0.042 265.755);  
    --color-slate-950: oklch(0.129 0.042 264.695);

    --color-blue-50: oklch(0.97 0.014 254.604);
    --color-blue-100: oklch(0.932 0.032 255.585);  
    --color-blue-200: oklch(0.882 0.059 254.128);  
    --color-blue-300: oklch(0.809 0.105 251.813);  
    --color-blue-400: oklch(0.707 0.165 254.624);  
    --color-blue-500: oklch(0.623 0.214 259.815);  
    --color-blue-600: oklch(0.546 0.245 262.881);  
    --color-blue-700: oklch(0.488 0.243 264.376);  
    --color-blue-800: oklch(0.424 0.199 265.638);  
    --color-blue-900: oklch(0.379 0.146 265.522);  
    --color-blue-950: oklch(0.282 0.091 267.935);

    /* Step -2: 12.642px → 11.52px */
    --font-size--2: clamp(0.72rem, 0.8145rem + -0.122vi, 0.7901rem);
    /* Step -1: 14.2222px → 14.4px */
    --font-size--1: clamp(0.8889rem, 0.885rem + 0.0193vi, 0.9rem);
    /* Step 0: 16px → 18px */
    --font-size-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
    /* Step 1: 18px → 22.5px */
    --font-size-1: clamp(1.125rem, 1.0272rem + 0.4891vi, 1.4063rem);
    /* Step 2: 20.25px → 28.125px */
    --font-size-2: clamp(1.2656rem, 1.0944rem + 0.856vi, 1.7578rem);
    /* Step 3: 22.7813px → 35.1563px */
    --font-size-3: clamp(1.4238rem, 1.1548rem + 1.3451vi, 2.1973rem);
    /* Step 4: 25.6289px → 43.9453px */
    --font-size-4: clamp(1.6018rem, 1.2036rem + 1.9909vi, 2.7466rem);
    /* Step 5: 28.8325px → 54.9316px */
    --font-size-5: clamp(1.802rem, 1.2347rem + 2.8369vi, 3.4332rem);

    --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vi, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vi, 0.875rem);
    --space-s: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
    --space-m: clamp(1.25rem, 1.1848rem + 0.3261vi, 1.4375rem);
    --space-l: clamp(1.5rem, 1.4348rem + 0.3261vi, 1.6875rem);
    --space-xl: clamp(2rem, 1.913rem + 0.4348vi, 2.25rem);
    --space-2xl: clamp(3rem, 2.8696rem + 0.6522vi, 3.375rem);
    --space-3xl: clamp(4rem, 3.8261rem + 0.8696vi, 4.5rem);

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

    --background-color: var(--color-slate-50);
    --foreground-color: var(--color-slate-900);
    --deemphasized-color: var(--color-slate-500);
    --border-color: var(--color-slate-300);
    --blockquote-border-color: var(--color-slate-200);
    --deemphasized-border-color: var(--color-slate-100);
    --metadata-background-color: var(--color-slate-200);
    --metadata-foreground-color: var(--foreground-color);
    --link-color: var(--foreground-color);
    --link-hover-color: var(--color-blue-600);
    --header-background-color: var(--color-slate-900);
    --header-foreground-color: var(--color-slate-50);
    --header-border-color: var(--color-slate-600);

    --border-radius: 0.5rem;
    --line-height: 1.5;
    --width: 42rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: var(--line-height);
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
    font-size: var(--font-size-0);
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: var(--header-background-color);
}

hr {
    border: none;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    background-color: var(--border-color);
    margin: var(--space-l) 0 var(--space-l) 0;
}

section {
    & :is(h1, h2, h3) {
        margin-top: 0;
    }

    & :is(p, ul, ol):last-child {
        margin-bottom: 0;
    }

    &:not(:first-child) {
        margin-top: var(--space-l);
        padding-top: var(--space-l);
        border-top: 1px solid var(--border-color);
    }
}

a {
    color: var(--link-color);
    text-decoration-color: var(--border-color);
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration-color: var(--link-hover-underline-color);
}

a:after { font-size: 0.75em; vertical-align: super; color: var(--deemphasized-color) }
a[href*="//"]:not([href*="seanvoisen.com"]):after { content: "\00A0↗"; }
a[href^="http:"]:after { content: "\00A0!" !important; }
a[href$=".pdf"]:after, a[href$=".zip"]:after, a[href$=".gz"]:after {
	content: "\00A0↓" !important;
}

p {
    margin: var(--space-m) 0 var(--space-m) 0;
}

h1 {
    font-size: var(--font-size-3);
    font-weight: 900;
    line-height: 1.2;
}

h2 {
    margin-top: var(--space-l);
    font-size: var(--font-size-2);
    font-weight: 900;
}

h3 {
    margin-top: var(--space-l);
    font-size: var(--font-size-1);
    font-weight: 900;
}

ul, ol {
    margin: var(--space-m) 0 var(--space-m) var(--space-m);

    & li {
        margin-bottom: var(--space-xs);

        &::marker {
            color: var(--deemphasized-color);
        }
    }
}

figcaption {
    font-size: var(--font-size--1);
    color: var(--deemphasized-color);
    text-align: right;
}

blockquote {
    color: var(--deemphasized-color);
    border-left: 8px solid var(--blockquote-border-color);
    padding-left: var(--space-s);
}

summary {
    color: var(--deemphasized-color);
    font-size: var(--font-size--1);
    cursor: pointer;
    margin-bottom: var(--space-s);
}

.main {
    color: var(--foreground-color);
    background-color: var(--background-color);
    padding-bottom: var(--space-xl);

    & > :is(article, div) {
        max-width: var(--width);
        padding: var(--space-m);

        & img {
            max-width: 100%;
            height: auto;
            border-radius: var(--border-radius);
        }

        & p:first-child {
            margin-top: 0;
        }

        :is(h1, h2, h3):has(+ p, + ul, + ol) {
            margin-bottom: var(--space-2xs);
        }

        :is(h1, h2, h3) + p {
            margin-top: var(--space-2x);
        }
    }
}

.header {
    background-color: var(--header-background-color);
    color: var(--header-foreground-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: var(--space-m);
    font-size: var(--font-size--1);

    & a {
        color: var(--header-foreground-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--header-foreground-color);
            text-decoration-thickness: 2px;
        }
    }

    & .logo-wrapper {
        flex: 1;
    }

    & svg.logo {
        height: 2rem;
        fill: var(--header-foreground-color);
    }
}

.footer {
    font-size: var(--font-size--1);
    background-color: var(--header-background-color);
    color: var(--header-foreground-color);
    padding: var(--space-m) var(--space-m) var(--space-xl) var(--space-m);

    & .external-links {
        margin-bottom: var(--space-s);
    }

    & p {
        margin: 0;
    }

    & a {
        color: var(--header-foreground-color);
        text-decoration-color: var(--header-border-color);
    }
}

.nav {
    margin-top: var(--space-m);

    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;

        & li {
            margin-bottom: var(--space-3xs);
        }
    }
}

.post-metadata, .page-metadata {
    margin: var(--space-m) 0 var(--space-m) 0;
    padding: var(--space-s);
    font-size: var(--font-size--1);
    background-color: var(--metadata-background-color);
    color: var(--metadata-foreground-color);
    border-radius: var(--border-radius);

    & dl {
        display: grid;
        grid-template-columns: max-content auto;
    }

    & dt {
        text-align: right;
        font-weight: 500;
        display: inline;
        grid-column-start: 1;
        padding-right: 0.75ch;
    }

    & dd {
        display: inline;
        grid-column-start: 2;
    }

    & dd:not(:first-of-type), & dt:not(:first-of-type) {
        margin-top: var(--space-3xs);
    }

    & dt::after {
        content: ': ';
    }
}

.post-title, .page-title {
    margin-bottom: var(--space-s);
}

.post-list {
    margin: 0;
    list-style: none;
}

.post-list-item {
    position: relative;
    margin-bottom: var(--space-s);
}

.post-list-item-title {
    display: block;
    font-weight: 500;
}

.post-list-item-title::after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.post-list-item-description {
    font-size: var(--font-size--1);
}

.post-list-item-date {
    color: var(--deemphasized-color);
    font-size: var(--font-size--1);
    display: block;
}

.inline-tag-list-tag:not(:last-child):after {
    content: ",";
    vertical-align: baseline;
    color: var(--foreground-color);
    font-size: 1em;
}

.tag-list {
    margin: 0;
    list-style: none;

    & li {
        display: inline;

        &:not(:last-of-type)::after {
            content: ", ";
        }
    }
}

@media only screen and (min-width: 568px) {
    .header {
        flex-direction: row;
        line-height: 0;
        font-size: var(--font-size-0);
        align-items: center;
    }

    .nav {
        margin: 0;

        & ul {
            flex-direction: row;

            & li {
                margin-left: var(--space-s);
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    .post-metadata, .page-metadata {
        position: absolute;
        left: var(--width);
        margin-top: 0;
        margin-right: var(--space-m);
        min-width: 12rem;
        max-width: 20rem;
    }
}
