.books-grid {
    font-family: var(--font-family-ui);
    margin: var(--space-l) 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: auto;
    gap: var(--space-m);
    row-gap: var(--space-m);
    align-items: end;
}

.books-grid-item {
    position: relative;
    display: grid;
    list-style: none;
    grid-template-rows: auto 5em;
}

.books-grid-cover {
    max-width: 100%;
    width: 100%;
    display: block;
    border-radius: 0 !important;
    box-shadow: rgba(0,0,0,.09) 0px 2px 1px, rgba(0,0,0,.09) 0px 4px 2px, rgba(0,0,0,.09) 0px 8px 4px, rgba(0,0,0,.09) 0px 16px 8px, rgba(0,0,0,.09) 0px 32px 16px;
    transition: transform 0.2s ease;
}

.books-grid-item:hover .books-grid-cover {
    transform: scale(1.1);
}

.books-grid-metadata {
    padding: var(--space-xs) 0 0 0;
    line-height: 1.25;
    font-size: var(--font-size-0);
}

.books-grid-title {
    font-size: var(--font-size--1);
    display: block;

    &::after {
        content: "" !important;
    }
}

.books-grid-title::after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.books-grid-author {
    display: block;
    font-size: var(--font-size--2);
    color: var(--deemphasized-color);
}

.books-grid-rating {
    display: block;
    color: var(--deemphasized-color);
    font-size: var(--font-size--2);
}

@media (prefers-reduced-motion: reduce) {
    .books-grid-cover {
        transition: none;
    }
}

