{% macro postList(items) %}
<ul class="post-list">
{% for item in items %}
  <li class="post-list-item">
    <a class="post-list-item-title" href="{{ item.url }}">{{ item.data.title }}</a>
    <time class="post-list-item-date" datetime="{{ item.date | w3Date }}">{{ item.date | htmlDate }}</time>
  </li>
{% endfor %}
</ul>
{% endmacro %}

{% macro tagList(tags) %}
{% for tag in tags %}
<a class="inline-tag-list-tag" href="/tags/{{ tag | slug }}/">{{ tag }}</a>
{% endfor %}
{% endmacro %}
