{% macro postList(items) %}
<ul class="post-list">
{% for item in items %}
  <li class="post-list-item">
    <time class="post-list-item-date" datetime="{{ item.date | w3Date }}">{{ item.date | htmlDate }}</time>
    <a href="{{ item.url }}">{{ item.data.title }}</a
  </li>
{% endfor %}
</ul>
{% endmacro %}
