{% macro postList(items, showBadges = false) %}
<ul class="post-list">
{% for item in items %}
  <li class="post-list-item{% if showBadges %} post-list-item--with-badges{% endif %}">
    <time class="post-list-item-date" datetime="{{ item.date | w3Date }}">{{ item.date | htmlDate }}</time>
    {% if showBadges %}
      {% if item.url.startsWith('/writing/') %}
        <span class="post-list-item-badge">Writing</span>
      {% elif item.url.startsWith('/thinking/') %}
        <span class="post-list-item-badge">Thinking</span>
      {% endif %}
    {% endif %}
    <a class="post-list-item-title" href="{{ item.url }}">{{ item.data.title }}</a>
  </li>
{% endfor %}
</ul>
{% endmacro %}
