{% set css %}
{% include "css/global.css" %}
{%- if localCSS %}
{%- for filename in localCSS %}
{% include "css/" + filename + ".css" %}
{%- endfor %}
{%- endif %}
{% endset %}
<style>
{{ css | postcss | safe }}
</style>
