	{%- if eleventy.env.runMode === "serve" %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css", "global" %}">
	{%- else  %}
		<style>{% getBundle "css", "global" %}</style>
	{%- endif %}

	{% css "global" %}{% include "css/global.css" %}{% endcss %}
