        <meta name="description" content="{{ description or site.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="color-scheme" content="light dark">
        <meta name="theme-color" content="#100F0F" media="(prefers-color-scheme: dark)">
        <meta name="theme-color" content="#FFFCF0" media="(prefers-color-scheme: light)">
        <link rel="canonical" href="{{ site.base }}{{ page.url | url }}" />

        {# Preload critical fonts early for better performance #}
        <link rel="preload" href="/assets/fonts/ibm-plex-serif-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/assets/fonts/outfit-latin.woff2" as="font" type="font/woff2" crossorigin>

        <link rel="me" href="https://front-end.social/@svoisen">

        <link rel="alternate" href="/blog/feed.xml" type="application/atom+xml" title="Blog Atom Feed">
        <link rel="alternate" href="/blog/feed.json" type="application/json" title="Blog JSON Feed">
        <link rel="alternate" href="/stream/feed.xml" type="application/atom+xml" title="Stream Atom Feed">
        <link rel="alternate" href="/stream/feed.json" type="application/json" title="Stream JSON Feed">

        <meta property="og:url" content="{{ site.base }}{{ page.url | url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title or site.title }}">
        <meta property="og:image" content="{{ site.base }}{{ image or site.og.image }}">
        <meta property="og:image:alt" content="{{ title or site.title }}">
        <meta property="og:image:width" content="{{ site.og.width }}">
        <meta property="og:image:height" content="{{ site.og.height }}">
        <meta property="og:description" content="{{ description or site.description }}">
        <meta property="og:site_name" content="{{ site.title }}">
        <meta property="og:locale" content="{{ site.locale }}">
        <meta property="article:author" content="{{ site.author.name }}">

        <link rel="icon" type="image/x-icon" href={{ "/favicon.ico" | url }}>
        <link rel="icon" type="image/png" sizes="32x32" href={{ "/favicon-32x32.png" | url }}>
        <link rel="icon" type="image/png" sizes="16x16" href={{ "/favicon-16x16.png" | url }}>
        <link rel="apple-touch-icon" sizes="180x180" href={{ "/apple-touch-icon.png" | url }}>

        <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
        <link rel="manifest" href="{{ "/site.webmanifest" | url }}">
