<!DOCTYPE html>
<html lang="{{ site.lang or page.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }} > {{ title or site.description }}</title>
        <base href="{{ page.url }}" />
        {% set css %}{% include "css/global.css" %}{% endset %}
        <style>
        {{ css | cssnano | safe }}
        </style>
        {% include "head/meta.njk" %}
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main class="main">
            {{ content | safe }}
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>
