<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }} > {{ title or site.description }}</title>
        <base href="{{ page.url }}" />
        <meta name="description" content="{{ description or site.description }}">
        
        {% include "head/css-inline.njk" %}

        <link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ site.title }} Feed">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Sean Voisen" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="me" href="https://front-end.social/@svoisen">

    </head>
    <body>
        {% include "partials/header.njk" %}
        <main class="main">
            {{ content | safe }}
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>
