---
layout: base
---
{% set pageSubtitle = subtitle or (navigation.items | getDescription(permalink)) %}

<article class="page">
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
        {% if pageSubtitle %}
        <div class="page-subtitle">{{ pageSubtitle }}</div>
        {% endif %}
    </header>
    {% if showMetadata != false %}
    <aside class="page-metadata">
        <dl>
            <dt>Last updated</dt>
            <dd>
                <time class="post-timestamp" datetime="{{ page.date | w3Date }}">{{ page.date | htmlDate }}</time>
            </dd>
            {% if description %}
            <dt>Summary</dt>
            <dd>{{ description }}</dd>
            {% endif %}
        </dl>
    </aside>
    {% endif %}
    <div class="page-content">
        {{ content | safe }}
    </div>
</article>
