---
layout: base
---

{% if (page.filePathStem.split("/")[1] == "blog") %}
    {% set type = "Blog" %}
{% else %}
    {% set type = "Stream" %}
{% endif %}

{% from "macros/taglist.njk" import tagList %}

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ title }}</h1>
        <aside class="post-metadata">
            <dl>
                <dt>Published</dt>
                <dd>
                    <time class="post-timestamp" datetime="{{ page.date }}">{{ page.date | htmlDate }}</time>
                </dd>
                <dt>Post type</dt>
                <dd>{{ type }}</dd>
                {% if description %}
                <dt>Summary</dt>
                <dd>{{ description }}</dd>
                {% endif %}
                <dt>Tags</dt>
                <dd>{{ tagList(tags) }}</dd>
            </dl>
        </aside>
    </header>
    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
