---
layout: base
---

{%- if (page.filePathStem.split("/")[1] == "writing") %}
    {%- set type = "Writing" %}
    {%- set typelink = "/writing/" %}
{%- else %}
    {%- set type = "Thinking" %}
    {%- set typelink = "/thinking/" %}
{%- endif %}

{# Default dropCap to true if not specified #}
{%- set hasDropCap = dropCap if dropCap !== undefined else true %}

<article class="post post--{{ type | lower }}{% if not hasDropCap %} post--no-dropcap{% endif %}">
    <header class="post-header">
        <h1 class="post-title">{{ title }}</h1>
        <div class="post-metadata">
            <time class="post-timestamp" datetime="{{ page.date | w3Date }}">{{ page.date | htmlDate }}</time> &middot; {{ content | wordStats }}
        </div>
    </header>
    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
{%- include "partials/subscribe.njk" %}