---
layout: "home"
title: "Blog"
permalink: "/blog/"
---

{% from "macros/postlist.njk" import postList %}

<header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
</header>
<p>Short essays and personal updates.</p>
{{ postList(collections.blog.reverse()) }}
