---
layout: page
title: "Blog"
permalink: "/blog/"
showMetadata: false
---

{% from "macros/postlist.njk" import postList %}
{% set blog = collections.blog | reverse %}
{% set description = navigation.items | getDescription(permalink) %}

<p>{{ description }}</p>
{{ postList(blog) }}
