---
layout: page
title: Bookshelf
permalink: "/bookshelf/"
showMetadata: false
localCSS: ["bookshelf"]
---

{% from "macros/bookshelf-section.njk" import bookshelfSection %}

<aside class="page-metadata">
    <dl>
        <dt>Last updated</dt> 
        <dd>
            <time datetime="{{ page.date | w3Date }}">{{ page.date | htmlDate }}</time>
        </dd>
        <dt>Total books</dt>
        <dd>{{ books.books.length }}</dd>
    </dl>
</aside>

{{ bookshelfSection(books.books, 2025) }}
{{ bookshelfSection(books.books, 2024) }}
{{ bookshelfSection(books.books, 2023) }}
{{ bookshelfSection(books.books, 2022) }}
