---
layout: page
permalink: "/directory/"
title: "Directory"
subtitle: "Looking for something? Here’s a handy dandy sitemap."
showMetadata: false
localCSS: ["directory"]
---

{% set items = navigation.items | directoryItems %}

<ul class="directory-list">
{% for item in items %}
    <li class="directory-list-item">
        <a class="directory-list-item-title" href="{{ item.url }}">{{ item.url.slice(0, -1) }}</a>
        <span class="directory-list-item-description">{{ item.description }}</span>
        <span class="books-grid-rating">
        </span>
    </li>
{% endfor %}
</ul>
