---
layout: "home"
date: Last Modified
permalink: "/index.html"
---

{% from "macros/postlist.njk" import postList %}
{% from "macros/taglist.njk" import tagList %}
{% set maxPosts = 3 %}
{% set maxMorePosts = 10 %}
{% set latestBlogPosts = collections.blog | reverse | head(maxPosts) %}
{% set latestStreamPosts = collections.stream | reverse | head(maxPosts) %}
{% set moreBlogPosts = collections.blog | reverse | slice(maxPosts, maxMorePosts) %}
{% set moreStreamPosts = collections.stream | reverse | slice(maxPosts, maxMorePosts) %}

<section>
    <p>Hello! <strong><a href="/about">I’m Sean</a></strong>, a software design and engineering leader interested in making computers better tools for supporting human thinking and creativity.</p>
    <p>This site is my blog and "<a href="https://maggieappleton.com/garden-history">digital garden</a>," a collection of <a href="/stream">quick thoughts</a>, <a href="/blog/">short essays</a> and <a href="/notes/">evergreen notes</a> on <a href="/topics/">topics</a> of personal interest.</p>
</section>
<section>
    <h2>Topics</h2>
    {% include "partials/inline-tag-list.njk" %}
    </ul>
</section>
<section>
    <h2>Blog posts</h2>
    {{ postList(latestBlogPosts) }}
    {% if collections.blog.length > maxPosts %}
    <details>
        <summary>Show more…</summary>
        {{ postList(moreBlogPosts) }}
    </details>
    {% endif %}
</section>
<section>
    <h2>Thoughts in the stream</h2>
    {{ postList(latestStreamPosts) }}
    {% if collections.stream.length > maxPosts %}
    <details>
        <summary>Show more…</summary>
        {{ postList(moreStreamPosts) }}
    </details>
    {% endif %}
</section>
