---
layout: page
title: "Stream"
permalink: "/stream/"
showMetadata: false
---

{% from "macros/postlist.njk" import postList %}
{% set stream = collections.stream | reverse %}
{% set description = navigation.items | getDescription(permalink) %}

<p>{{ description }}</p>
{{ postList(stream) }}
