---
layout: page
title: "Thinking"
permalink: "/thinking/"
subtitle: "Short thoughts and comments, mostly about things I've read."
showMetadata: false
---

{% from "macros/postlist.njk" import postList %}
{% set thinking = collections.thinking | reverse %}

{{ postList(thinking) }}
