---
layout: page
permalink: /topics/
title: Topics
showMetadata: false
---

{% set description = navigation.items | getDescription(permalink) %}

<p>{{ description }}</p>
{% include "partials/inline-tag-list.njk" %}
