---
layout: page
title: "Writing"
permalink: "/writing/"
listPage: true
showMetadata: false
---

{% from "macros/postlist.njk" import postList %}
{% set writing = collections.writing | reverse %}

{{ postList(writing) }}
