<footer class="footer">
    <p class="external-links"><a href="#">RSS</a> · <a href="#">Mastodon</a> · <a href="#">GitHub</a></p> 
    <p>Copyright © 2008-2025 {{ site.author }}.<br>
    All content licensed under CC BY-SA 4.0.</p>
</footer>
