---
permalink: /feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ site.title }}",
  "language": "{{ site.lang or page.lang }}",
  "home_page_url": "{{ site.base | addPathPrefixToFullUrl }}",
  "feed_url": "{{ permalink | htmlBaseUrl(site.base) }}",
  "description": "{{ site.description }}",
  "authors": [
    {
      "name": "{{ site.author.name }}"
    }
  ],
  "items": [
    {%- for post in collections.posts | reverse | head(10) %}
    {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(site.base) }}{% endset %}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.content %}{{ post.content | renderTransforms(post.data.page, site.base) | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | dateToRfc3339 }}"
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
