---
title: "Moonpointing"
description: "A wide-ranging monthly newsletter about philosophy, technology, reading & other things."
permalink: /moonpointing/feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- set collection = collections.moonpointing %}
{%- include "feeds/json.njk" %}
