---
title: "Sean Voisen's Writing"
permalink: /writing/feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- set collection = collections.writing %}
{%- include "feeds/json.njk" %}
