<footer class="footer">
    <p class="external-links"><a href="/feed.xml">RSS</a> · <a href="https://front-end.social/@svoisen">Mastodon</a> · <a href="https://bsky.app/profile/seanvoisen.com">Bluesky</a> · <a href="https://github.com/svoisen">GitHub</a></p> 
    <p>Copyright © 2008-2025 {{ site.author.name }}.</p>
    <p xmlns:cc="http://creativecommons.org/ns#">All content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" rel="license noopener noreferrer">CC BY-SA 4.0</a>.</p> 
</footer>
{%- include "partials/email-script.njk" %}