<header class="header">
    <div class="logo-wrapper">
        <a href="/" class="home-link" title="Return home.">
            {% include "partials/logo.njk" %}
        </a>
    </div>
    <nav class="nav">
        <ul>
            {% set items = navigation.items | navigationItems %}
            {% for item in items %}
            {% if item.url == page.url %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ item.url }}" title="{{ item.description }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
