<div class="subscribe">
    <h2>{{ subscribeHeader | default("Liked this post?") }}</h2>
    <p>{{ subscribeText | default("<strong>You might also enjoy my newsletter!</strong> <em>Moonpointing</em> is my wide-ranging monthly newsletter about <strong>philosophy, technology, reading & other things.</strong> A bit more casual than my blog, it always sounds like a letter from a friend.") | safe }}</p>
    <form
    action="https://buttondown.com/api/emails/embed-subscribe/seanvoisen"
    method="post"
    class="subscribe-form"
    >
        <input type="email" name="email" placeholder="Enter your email"/>
        <input type="hidden" value="1" name="embed" />
        <input type="hidden" name="tag" value="via-blog" />
        <input type="submit" value="Subscribe" />
    </form>
</div>