<div>
    <h2>Subscribe for updates</h2>
    <p>Liked this post? Enter your email address below to get notified of my latest essays and updates, or <a href="{{ site.url }}/blog/feed.xml">subscribe via RSS</a>.
    <form
    action="https://buttondown.email/api/emails/embed-subscribe/seanvoisen"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/seanvoisen', 'popupwindow')"
    class="subscribe-form"
    >
        <input type="email" name="email" id="bd-email" placeholder="Enter your email"/>
        <input type="submit" value="Sign up" />
    </form>
</div>