<div class="subscribe">
    <h2>Liked this post?</h2>
    <p><a href="#" class="eml-protected">Email me</a> or let me know on <a href="https://bsky.app/profile/seanvoisen.com">Bluesky</a> or <a href="https://front-end.social/@svoisen">Mastodon</a>. If you'd like to subscribe to my newsletter—which will hit your inbox once or twice a month—enter your email address below.
    <form
    action="https://buttondown.com/api/emails/embed-subscribe/seanvoisen"
    method="post"
    class="subscribe-form"
    >
        <input type="email" name="email" placeholder="Enter your email"/>
        <input type="hidden" value="1" name="embed" />
        <input type="hidden" name="tag" value="via-blog" />
        <input type="submit" value="Sign up" />
    </form>
</div>